span:nth-of-type(odd) {
  color: purple;
}
span:nth-of-type(18) {
  color: blue;
}
span:last-of-type {
  color: black;
  opacity: 0.5;
}
span:nth-of-type(even):hover {
  color: brown;
  font-size: x-large;
}

span:nth-of-type(3n) :nth-of-type(odd) {
  color: pink;
}
span:nth-of-type(6n):not(:nth-of-type(18)) {
  color: orange;
}
