span:nth-of-type(odd) {
  color: purple;
}
span:nth-of-type(18n) {
  color: yellow;
}
span:last-of-type {
  color: black;
  opacity: 0.5;
}
span:nth-of-type(even):hover {
  color: brown;
  font-size: x-large;
}
span:nth-of-type(3n + 3) {
  color: pink;
}
span:nth-of-type(6n + 6) {
  color: orange;
}
